.nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.nav > div {    
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    margin: 0px;
    padding:0px;
  }
.logo{
   flex-direction: frow;
   height:80px;
   width:100px;
   padding-left: 50px;
}
.nav-right{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    flex-wrap: wrap;
}
.nav a{
    color: #f2f2f2;
    text-decoration: none;
}
.menu{
    color:white;
    margin-top: 30px;
    padding-right:40px ;
    flex-shrink: 1;
}
.branch{
    color:white;
    margin-top: 30px;
    padding-right:40px ;
    flex-shrink: 1;
}
.imgx{
    width: 100%;
}
.position-center{
    position: absolute;
    font-size:20px;
    padding-left: 25px;
    color: white;
    margin-top: 30px;
    padding:50px;
    margin-left: 100px;
}
.body{
    background-color: orange;
    margin-top:75px;
}
.category{
    display: flex;
    flex-wrap: wrap;    
}
.category>div{
    margin-top: 30px;
    padding:3px;
    align-content:center;

}
.category img{
    height: 300px;
    width: 300px;
}
.category img:hover{
    transform: scale(0.85);
}
.category>div> a{
    text-decoration: none;
    color: white;    
    margin-left: 20%;    
}
h3{
    padding-top: 10px;
    text-align:center;
    padding-left: 100px;
}
.containerB{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top:20px;
    margin-top: 10px;
}
.branchimg{
    display: flex;
    flex-wrap: wrap;
}
.branches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    color:white;
}
.hamra{
    background-color: rgb(207, 88, 24);
    align-self: flex-end;
   text-align: center;
   padding-right: 50px;

}

.branches h3{
    padding-left: 0px;
}
.txt-branch{
    position: absolute;
    font-size:50px;
    padding-left: 25px;
    color: white;
    margin-top: 280px;
    padding:50px;
    margin-left: 650px;
}
.our-b{
    background-color:  rgb(131, 183, 69);
    padding-left: 600px;
   
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
}

